<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluate News Article</title>
  </head>
  <body>
    <header>
      <h1>Evaluate News Article</h1>
    </header>
    <main>
      <input
        type="text"
        name="url"
        id="url"
        placeholder="Please inter you url "
      />
      <br />
      <button
        type="submit"
        onclick="client.handelrequest(document.getElementById('url').value)"
      >
        Submit
      </button>
      <div id="noturl"></div>
      <table>
        <tr>
          <th>agreement</th>
          <th>subjectivity</th>
          <th>confidence</th>
          <th>irony</th>
          <th>score_tag</th>
        </tr>
        <tr>
          <td id="agreement"></td>
          <td id="subjectivity"></td>
          <td id="confidence"></td>
          <td id="irony"></td>
          <td id="score_tag"></td>
        </tr>
      </table>
    </main>
    <footer>
      <p>copy rights omar abbas</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
